@import url('https://fonts.googleapis.com/css?family=Dosis|Libre+Baskerville:700');
* {
	padding: 0;
	margin: 0;
}

body{
	background: black;
	font-size: 16px; /*1em = 16[x*/
	text-align: center;
	position: relative;
	font-family: 'Libre Baskerville', serif;
}

#logo{
	float: center;
	margin: auto;
	padding: 1em;
}

.navlinks{
	color: grey;
}
nav{
	height: 2em;
	text-align: center;
	font-size: 1em;
	word-spacing: 3em;
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #E8C66A;*/
    border: 1px black solid;
    padding: 20px;
}
nav a {
	color: #ffffff;
	display: block;
	width: 180px;
	float: left;
	padding: 10px 0;
}

nav a:hover {
	background-color: white;
}

header {
  	text-align: center;
  	/*background: url("../images/money-coins.jpg");*/
  	background-repeat: no-repeat;                      
  	height: 590px;       
  	margin:0 auto;
  	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

#slogan:hover {
	background-color: white;
}
h1{
	text-align: center;
  	font-size: 3em;
  	padding-top: 5%;
  	color: black;
  	line-height: 1.5em;
}

#slogan {
	text-align: center;
	font-size: 25px;
	font-style:italic;
	color: black;
	border: 2px solid black;
	padding: 5px;
}

h3 {
  	color: white;
  	text-align: center;
 	text-transform: uppercase;
 	font-family: 'Libre Baskerville', serif;
}

section {
  	/*background-image: url("../images/background4.jpg");*/
  	background-size: cover;
  	font-size: 22px;
  	border: 2px;
  	padding: 30px;
  	line-height: 150%;
  	color:white;
  	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

a{
	text-decoration: none;
	color:#322FC6;
	border-bottom:1px solid black;
	padding-bottom:2px;
}

hr{
	border:none;
	height:3px;
	background-color: white;
	width: 2em;
	margin: 1em auto;
}

p{
	color: white;
	font-size: 1em;
	text-align: center;
	padding-bottom: 1.5em;
	width: 30em;
	margin: 0 auto;
	line-height: 1.5em;
	font-family: 'Dosis', sans-serif;
}

ul{
	text-align: center;
    list-style-type: none;
    font-family: 'Dosis', sans-serif;
}

li{
	margin-left: 10px;
	text-align: center;
}

#about, #insights{
	/*background-image: url("../images/background1.jpg");*/
	background-size: cover;
}

#work, #upcoming{
	/*background-image: url("../images/background2.jpg");*/
  	background-size: cover;
}

#event1, #insight, #upcomings{
	display:block;
	width:30em;
	margin: 0 auto;
}

footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

#wrapper{
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
}